@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Gravitas+One&family=Lexend:wght@100..900&family=Macondo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}